<footer>
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="footer-nav">
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">iOS App</a></li>
                <li><a href="#">Android App</a></li>
            </ul>
        </div>
        <div class="col span-1-of-2">
            <ul class="social-links">
                <li><a href="#">
                        <ion-icon name="logo-facebook" class="small-icon"></ion-icon>
                    </a></li>
                <li><a href="#">
                        <ion-icon name="logo-twitter" class="small-icon"></ion-icon>
                    </a></li>
                <li><a href="#">
                        <ion-icon name="logo-instagram" class="small-icon"></ion-icon>
                    </a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p class="copy">Copy right &copy; 2020 by Omnifood. All right reserved.</p>
    </div>
</footer>