<nav>
    <div class="row">
        <img src="resources/img/logo-white.png" alt="logo" class="logo-white">
        <img src="resources/img/logo.png" alt="logo" class="logo-black">
        <ul class="main-nav" id="main-nav">
            <li><a href="#section-feature">Food delivery</a></li>
            <li><a href="#how-it-work">How it works</a></li>
            <li><a href="#section-cities">Our cities</a></li>
            <li><a href="#price-plan">Sign up</a></li>
        </ul>
        <a class="mob-nav" id="nav-icon">
            <ion-icon name="menu-outline"></ion-icon>
        </a>
    </div>
</nav>