<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <nav>
        <div class="row page-off">
            <img src="resources/img/logo.png" alt="logo" class="logo-black">
            <ul class="page-off-nav">
                <li><a href="/">Main page</a></li>
            </ul>
        </div>
    </nav>
    <div class="row page-off-div">
        <h1>Page not found!</h1>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>



